<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ParametroMapper">

	<resultMap id="parametroMap" type="Parametro">
		<id property="id" 				column="ID_PARAMETRO"/>
		<result property="nome" 		column="NOME"/>
		<result property="auxiliar" 	column="AUXILIAR"/>
		<association property="tipo" column="TIPO" javaType="ParametroTipo" select="obterPorTipo" />
		<association property="dominio" column="DOMINIO" javaType="ParametroDominio" select="obterPorDominio"/>
	</resultMap>

	<sql id="selectParametro">
		<![CDATA[
			SELECT ID_PARAMETRO, NOME, AUXILIAR
			FROM MYP7_PARAMETRO
		  ]]>
	</sql>
	
	<select id="obterParametro" resultMap="parametroMap">
		<include refid="selectParametro"/>
		WHERE DOMINIO = #{id}
	</select>
	
	<select id="obterPorTipo" resultType="ParametroTipo">
			SELECT id, descricao
			FROM myp7_parametro_tipo 
			WHERE id = #{TIPO}
	</select>
	
	<select id="obterPorDominio" resultType="ParametroDominio">
			SELECT id, descricao
			FROM myp7_parametro_dominio
			WHERE id = #{DOMINIO}
	</select>
	
</mapper>
