<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ParametroDominioMapper">

	<resultMap id="parametroDominioMap" type="ParametroDominio">
		<id property="id" 			column="id"/>
		<id property="descricao" 	column="descricao"/>
	</resultMap>

	<sql id="selectParametroDominio">
		<![CDATA[
			SELECT id, descricao
			FROM prm_parametro_dominio
		  ]]>
	</sql>
	
	<select id="obterPorId" resultMap="parametroDominioMap">
		<include refid="selectParametroDominio"/>
		WHERE id = #{id}
	</select>
	
</mapper>
