<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProdutoMapper">

	<resultMap id="produtoMap" type="Produto">
		<id property="idProduto" 				column="ID_PRODUTO" />
		<result property="desProduto" 			column="DESCRICAO" />
		<result property="codIndustria" 		column="CODIGO_INDUSTRIA" />
		<result property="pesoBruto" 			column="PESO_BRUTO" />
		<result property="pesoLiquido" 			column="PESO_LIQUIDO" />
		<result property="alturaProduto" 		column="ALTURA" />
		<result property="larguraProduto" 		column="LARGURA" />
		<result property="profunProduto" 		column="PROFUNDIDADE" />
		<result property="imagem" 				column="IMAGEM_PRODUTO" />
		<result property="eanDunProduto" 		column="EANDUN" />
		<association property="usuario" 		column="ID_USUARIO" 	javaType="Usuario" 	select="obterUsuarioPorId" />
		<association property="ncmProduto" 		column="ID_NCM" 		javaType="NCM" select="obterNCMporId" />
		<association property="embalagem" 		column="ID_EMBALAGEM" 	javaType="Embalagem" select="obterEmbalagemPorId" />
	</resultMap>

	<sql id="selectProduto">
		<![CDATA[
			SELECT ID_PRODUTO, ID_USUARIO, DESCRICAO, CODIGO_INDUSTRIA, PESO_BRUTO,
		    PESO_LIQUIDO, ALTURA, LARGURA, PROFUNDIDADE, ID_NCM, ID_EMBALAGEM,
		    QTD_EMBALAGEM, EANDUN, IMAGEM_PRODUTO 
		    FROM prd_usuario_produto
		  ]]>
	</sql>
	
	<select id="obterTodos" resultMap="produtoMap">
		<include refid="selectProduto"/>
	</select>
	<select id="obterProdutos" resultMap="produtoMap">
		<include refid="selectProduto" />
		WHERE 1=1
		<if test="idProduto != null">
			AND ID_PRODUTO=#{idProduto}
		</if>
		<if test="desProduto != null">
			AND DESCRICAO like #{desProduto}
		</if>
	</select>
	<select id="countProduto" parameterType="int" resultType="int">
		SELECT COUNT(1) FROM prd_usuario_produto
		WHERE 1=1
		<if test="idProduto != null">
			AND ID_PRODUTO=#{idProduto} 
		</if>
		<if test="desProduto != null">
			AND DESCRICAO LIKE #{desProduto}
		</if>
	</select>
	
	<select id="obterNCMporId" resultType="NCM">
		SELECT ID_NCM FROM gbl_ncm
		WHERE ID_NCM = #{ID_NCM}
	</select>
	
	<select id="obterUsuarioPorId" resultType="Usuario">
		   SELECT ID_USUARIO
			 FROM USU_USUARIO
			WHERE ID_USUARIO = #{ID_USUARIO}
	</select>
	
	<select id="obterEmbalagemPorId" resultType="Embalagem">
		SELECT ID_EMBALAGEM FROM prd_embalagem
		WHERE ID_EMBALAGEM = #{ID_EMBALAGEM} 
	</select>
	
	<insert  id="salvarProduto" keyProperty="ID_PRODUTO" keyColumn="ID_PRODUTO" useGeneratedKeys="true">
		INSERT INTO prd_usuario_produto 
			(ID_USUARIO, DESCRICAO, CODIGO_INDUSTRIA, PESO_BRUTO,
		    PESO_LIQUIDO, ALTURA, LARGURA, PROFUNDIDADE, ID_NCM, ID_EMBALAGEM,
		    QTD_EMBALAGEM, EANDUN)
		VALUES
			(#{usuario.idUsuario}, #{desProduto}, #{codIndustria}, #{pesoBruto},
			#{pesoLiquido},#{alturaProduto},#{larguraProduto},#{profunProduto},#{ncmProduto.idNcm},#{embalagem.idEmbalagem},
			#{qtdEmbalagem},#{eanDunProduto}) 
	</insert>
</mapper>
