/*---------------
	Header
----------------*/
#header{margin: 0;position: fixed; width: 100%; top: 0;z-index: 1000;}
#header h1 {padding-top: 10px; padding-left: 20px; margin: 0 !important; color: #FFF;}
#header small {color: #FFF;}
#header span {font-size: medium;}
#header #logout{float: right; margin-right: 20px; font-size: 20px; cursor: pointer;}

/*---------------
	Footer
----------------*/
#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0;
	z-index: 500;
}
#footer #btnNovo{
	float: right;
  	margin-right: 20px;
}
#footer #btnSalvar{
	float: right;
  	margin-right: 20px;
  	border-color: white;
}
#footer #btnAprovar{
	float: right;
  	margin-right: 20px;
  	border-color: white;
}

#footer #btnCancelar{
	float: right;
  	margin-right: 20px;
}
#footer #btnReprovar{
	float: right;
  	margin-right: 20px;
}

#footer button{
 	font-size: 17px;
 	padding-left: 40px;
  	padding-right: 40px;
}

/*---------------
	Botões
----------------*/
#btnpesquisar{
	margin-right: 50px;
}
#btnpesquisar button{
	width: 130px;
}
#btnlimpar button{
	width: 130px;
}
button.btn-large{
	width: 130px;
}

/*---------------
	Theme Option
----------------*/
#option-theme-box {
  border-right: 1px solid #DFDADA;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  border-color: #DFDADA;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

#option-theme-header{
	border: 1px solid;
	border-color: transparent;
	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	height: 13px;
}

#option-theme-menu{
  width: 10px;
  height: 137px;
  float: left;
  background-color: #E8E7E7;
}

#option-theme-content{
  width: 150px;
  height: 50px;
  margin: 30px;
  font-size: large;
}
#option-theme-footer{
  height: 13px;
  width: 200px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#option-theme-footer label{color: black;}

#option-theme-click{
  width: 200px;
  border-radius: 5px;
}
#option-theme-click:hover{
	cursor: pointer;
	background-color: #FDFCFC;
}

/*---------------
	Foto
----------------*/
#image-product {
	border: 1px solid #CCC;
	border-radius: 5px;
	height: 200px;
	cursor: pointer;
}

/*------------
Campo requerido
-------------*/
div.req label:after {
	content: " *";
	color: red;
}

th.req:after {
	content: " *";
	color: red;
}

.icon-search {
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-left: 0;
	font-size: 20px;
    color: #ccc;
}

.icon-search:hover{color: black;}


#content-tabs{
	border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.menu-down{
    float: right;
    margin-right: 20px;
    margin-top: 3px;
    font-size: 75%;
}
