<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stefanini.originacao.adm.mapper.UsuarioMapper">

	<resultMap id="usuarioMap" type="com.plataforma.myp7.data.Usuario">
		<id property="idUsuario" 		column="ID_USUARIO"/>
		<result property="razaoSocial"  column="RAZAO_SOCIAL" />
		<result property="email" 		column="USU_EMAIL" />
		<result property="nDocumento" 	column="USU_CNPJ" />
		<result property="ativo" 		column="USU_ATIVO"/>
		<result property="senha" 		column="USU_SENHA"/>
	</resultMap>

	<sql id="selectUsuario">
		<![CDATA[
			SELECT ID_USUARIO, RAZAO_SOCIAL, USU_EMAIL, USU_CNPJ, USU_ATIVO, USU_SENHA
			FROM MYP7_USUARIO
		  ]]>
	</sql>
	
	<select id="obterTodos" resultMap="usuarioMap">
		<include refid="selectUsuario"/>
	</select>

	<select id="obterPorId" resultMap="usuarioMap">
		<include refid="selectUsuario"/>
		WHERE ID_USUARIO = #{id}
	</select>
	
</mapper>
