<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.CompradorMapper">

	<resultMap id="compradorMap" type="com.plataforma.myp7.data.Comprador">
		<id property="id" 					column="ID_COMPRADOR" />
		<result property="status"  			column="STATUS" /> 
		<result property="ediCodigo"  		column="EDI_CODIGO" />
		<result property="apelido"  		column="APELIDO" />
		<result property="razao"  			column="RAZAO" />
		<association property="usuario" 	column="ID_USUARIO"	
					 select="com.plataforma.myp7.mapper.UsuarioMapper.obterPorId"/>
		<association property="gerente" 	column="ID_GERENTE"	
					 select="com.plataforma.myp7.mapper.UsuarioMapper.obterPorId"/>
	</resultMap>
	
	<sql id="selectSimples">
		<![CDATA[
			SELECT ID_COMPRADOR as id,
			    ID_USUARIO as idUsuario,
			    STATUS,
			    EDI_CODIGO as ediCodigo,
			    APELIDO
			FROM cpr_comprador
		  ]]>
	</sql>
	
	<sql id="selectComPessoa">
		<![CDATA[
			SELECT ID_COMPRADOR as id,
			    ID_USUARIO,
			    STATUS,
			    EDI_CODIGO as ediCodigo,
			    APELIDO,
			    ID_GERENTE,
			    RAZAO
			FROM CPR_COMPRADOR
			JOIN GBL_PESSOA ON GBL_PESSOA.ID_PESSOA = CPR_COMPRADOR.ID_COMPRADOR
		  ]]>
	</sql>
	
	<sql id="whereBusca">
		<if test="id != null">
			AND ID_COMPRADOR = #{id} 
		</if>
		<if test="apelido != null">
			AND APELIDO like #{apelido} 
		</if>
	</sql>
	
	<select id="obterPorParametro" resultType="Comprador" parameterType="Comprador">
		<include refid="selectComPessoa"/>
		WHERE 1=1
		<include refid="whereBusca" />
		ORDER BY APELIDO
	</select>
	
	<select id="count" resultType="int" parameterType="Comprador">
		SELECT COUNT(1) FROM cpr_comprador
		WHERE 1=1
		<include refid="whereBusca" />
	</select>
	
	<select id="obterPorId" resultMap="compradorMap">
		<include refid="selectComPessoa"/>
		WHERE ID_COMPRADOR = #{id} 
	</select>
	
	<select id="obterPorIdUsuario" resultMap="compradorMap">
		<include refid="selectSimples"/>
		WHERE ID_USUARIO = #{id} 
	</select>
	
	<insert id="inserirComprador">
		INSERT INTO cpr_comprador
			(ID_COMPRADOR, ID_USUARIO, STATUS, EDI_CODIGO, APELIDO, ID_GERENTE) 
		VALUES 
			(#{id}, #{usuario.idUsuario}, #{status}, #{ediCodigo}, #{apelido}, #{gerente.idUsuario})
	</insert>
	
	<update id="updateComprador">
		UPDATE cpr_comprador
		   SET ID_USUARIO = #{usuario.idUsuario}, 
		   	   STATUS = #{status},
			   EDI_CODIGO = #{ediCodigo},
		       APELIDO = #{apelido},
		       ID_GERENTE = #{gerente.idUsuario}
		WHERE ID_COMPRADOR = #{id}
	</update>
	
</mapper>
