<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.EmbalagemMapper">

	<resultMap id="embalagemMap" type="com.plataforma.myp7.data.Embalagem">
		<id property="idEmbalagem" 				column="ID_EMBALAGEM"/>
		<result property="siglaEmbalagem"  		column="SIGLA_EMBALAGEM" />
		<result property="nomeEmbalagem" 	column="NOME_EMBALAGEM" />
	</resultMap>

	<sql id="selectEmbalagem">
		<![CDATA[
			SELECT ID_EMBALAGEM, SIGLA_EMBALAGEM, NOME_EMBALAGEM
			FROM prd_embalagem
		  ]]>
	</sql>
	
	<select id="obterTodasEmbalagens" resultMap="embalagemMap">
		<include refid="selectEmbalagem"/>
		ORDER BY SIGLA_EMBALAGEM
	</select>

	<select id="obterEmbalagemPorSigla" resultMap="embalagemMap">
		<include refid="selectEmbalagem"/>
			WHERE SIGLA_EMBALAGEM like #{siglaEmbalagem} 
	</select>



	<select id="obterEmbalagens" resultMap="embalagemMap" parameterType="Embalagem">
<!-- 		<include refid="selectEmbalagem"/> -->
		
		SELECT ID_EMBALAGEM, SIGLA_EMBALAGEM, NOME_EMBALAGEM
		FROM prd_embalagem
		
		WHERE 1=1
		
		<if test="siglaEmbalagem != null">
			AND SIGLA_EMBALAGEM like #{siglaEmbalagem} 
		</if>
		<if test="nomeEmbalagem != null">
			AND NOME_EMBALAGEM like #{nomeEmbalagem} 
		</if>
		ORDER BY SIGLA_EMBALAGEM
	</select>
	
	<select id="countEmbalagem" resultType="int" parameterType="Embalagem">
		SELECT COUNT(1) FROM prd_embalagem
		WHERE 1=1
		
		<if test="siglaEmbalagem != null">
			AND SIGLA_EMBALAGEM like #{siglaEmbalagem}  
		</if>
		<if test="nomeEmbalagem != null">
			AND NOME_EMBALAGEM like #{nomeEmbalagem} 
		</if>
	</select>	
	
	<insert  id="salvarEmbalagem" keyProperty="ID_EMBALAGEM" keyColumn="ID_EMBALAGEM" useGeneratedKeys="true">
		INSERT INTO prd_embalagem 
			(SIGLA_EMBALAGEM, NOME_EMBALAGEM)
		VALUES
			(#{siglaEmbalagem}, #{nomeEmbalagem}) 
	</insert>
	
	<update id="atualizarEmbalagem">
		UPDATE prd_embalagem
		   SET SIGLA_EMBALAGEM=#{siglaEmbalagem}, NOME_EMBALAGEM=#{nomeEmbalagem}
		WHERE ID_EMBALAGEM=#{idEmbalagem}
	</update>
	
	<select id="obterEmbalagemPorId" resultMap="embalagemMap">
		<include refid="selectEmbalagem"/>
		WHERE ID_EMBALAGEM = #{ID} 
	</select>
</mapper>

