<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.EmbalagemMapper">

	<resultMap id="embalagemMap" type="com.plataforma.myp7.data.Embalagem">
		<id property="idEmbalagem" 				column="ID_EMBALAGEM"/>
		<result property="siglaEmbalagem"  		column="SIGLA_EMBALAGEM" />
		<result property="qtdEmbalagem" 		column="QTD_EMBALAGEM" />
		<result property="nomeEmbalagem" 	column="NOME_EMBALAGEM" />
	</resultMap>

	<sql id="selectEmbalagem">
		<![CDATA[
			SELECT ID_EMBALAGEM, SIGLA_EMBALAGEM, QTD_EMBALAGEM,NOME_EMBALAGEM
			FROM prd_embalagem
		  ]]>
	</sql>
	
	<select id="obterTodasEmbalagens" resultMap="embalagemMap">
		<include refid="selectEmbalagem"/>
		ORDER BY SIGLA_EMBALAGEM,  QTD_EMBALAGEM
	</select>

	<select id="obterEmbalagens" resultMap="embalagemMap">
		<include refid="selectEmbalagem"/>
		WHERE 1=1
		
		<if test="qtdEmbalagem > 0">
			AND QTD_EMBALAGEM = #{qtdEmbalagem} 
		</if>
		
		<if test="siglaEmbalagem != null">
			AND SIGLA_EMBALAGEM like #{siglaEmbalagem} 
		</if>
		<if test="nomeEmbalagem != null">
			AND NOME_EMBALAGEM like #{nomeEmbalagem}
		</if>
		ORDER BY SIGLA_EMBALAGEM,  QTD_EMBALAGEM
	</select>
	
	<select id="countEmbalagem" parameterType="int" resultType="int">
		SELECT COUNT(1) FROM prd_embalagem
		WHERE 1=1
		<if test="siglaEmbalagem != null">
			AND SIGLA_EMBALAGEM like #{siglaEmbalagem} 
		</if>
		<if test="nomeEmbalagem != null">
			AND NOME_EMBALAGEM like #{nomeEmbalagem}
		</if>
	</select>	
	
	<insert  id="salvarEmbalagem" keyProperty="ID_EMBALAGEM" keyColumn="ID_EMBALAGEM" useGeneratedKeys="true">
		INSERT INTO prd_embalagem 
			(SIGLA_EMBALAGEM, QTD_EMBALAGEM,NOME_EMBALAGEM)
		VALUES
			(#{siglaEmbalagem}, #{qtdEmbalagem}, #{nomeEmbalagem}) 
	</insert>
	
	<update id="atualizarEmbalagem">
		UPDATE prd_embalagem
		   SET SIGLA_EMBALAGEM=#{siglaEmbalagem}, QTD_EMBALAGEM=#{qtdEmbalagem}, NOME_EMBALAGEM=#{nomeEmbalagem}
		WHERE ID_EMBALAGEM=#{idEmbalagem}
	</update>
	
	<select id="obterEmbalagemPorId" resultMap="embalagemMap">
		<include refid="selectEmbalagem"/>
		WHERE ID_EMBALAGEM = #{ID} 
	</select>
</mapper>
