<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.EmpresaMapper">

	<resultMap id="empresaMap" type="com.plataforma.myp7.data.Empresa">
		<id property="idEmpresa" 			column="ID_EMPRESA"/>
		<result property="nomeReduzido"  	column="NOME_REDUZIDO" />
		<result property="idPessoa" 		column="ID_PESSOA" />
	</resultMap>

	<sql id="selectEmpresa">
		<![CDATA[
			SELECT ID_EMPRESA, NOME_REDUZIDO, ID_PESSOA
			FROM emp_empresa
		  ]]>
	</sql>
	
	<select id="obterTodasEmpresas" resultMap="empresaMap">
		<include refid="selectEmpresa"/>
		ORDER BY ID_EMPRESA
	</select>
</mapper>
