<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.EmpresaMapper">

	<resultMap id="empresaMap" type="com.plataforma.myp7.data.Empresa">
		<id property="idEmpresa" 			column="ID_EMPRESA"/>
		<result property="nomeReduzido"  	column="NOME_REDUZIDO" />
		<association property="pessoa" 		column="ID_PESSOA"  select="com.plataforma.myp7.mapper.PessoaMapper.obterPessoaPorId"/>
	</resultMap>

	<sql id="selectEmpresa">
		<![CDATA[
			SELECT ID_EMPRESA, NOME_REDUZIDO, ID_PESSOA
			FROM emp_empresa
		  ]]>
	</sql>
	
	<select id="obterTodasEmpresas" resultMap="empresaMap">
		<include refid="selectEmpresa"/>
		ORDER BY ID_EMPRESA
	</select>
	
	<select id="obterEmpresaPorId" resultMap="empresaMap">
		<include refid="selectEmpresa"/>
		WHERE ID_EMPRESA = #{idEmpresa}
	</select>
	
	<select id="obterPorComprador" resultType="Empresa">
		 SELECT EMP_EMPRESA.NOME_REDUZIDO as nomeReduzido, 
				CPR_COMPRADOR_ALCADA.ID_EMPRESA as idEmpresa, 
				CPR_COMPRADOR_ALCADA.ALCADA
		FROM CPR_COMPRADOR_ALCADA
		JOIN EMP_EMPRESA ON EMP_EMPRESA.ID_EMPRESA = CPR_COMPRADOR_ALCADA.ID_EMPRESA
		WHERE CPR_COMPRADOR_ALCADA.ID_COMPRADOR = #{idComprador}
	</select>
	
	<select id="obterEmpresasPorUF" resultMap="empresaMap">
		SELECT ID_EMPRESA, NOME_REDUZIDO, gbl_pessoa.ID_PESSOA
		  FROM emp_empresa, gbl_pessoa
		 WHERE gbl_pessoa.ID_PESSOA = emp_empresa.ID_PESSOA
		   AND gbl_pessoa.UF = #{uf}
		 ORDER BY NOME_REDUZIDO
	</select>
	
	<insert id="inserirEmpresa">
		INSERT INTO emp_empresa
			(NOME_REDUZIDO, ID_PESSOA) 
		VALUES 
			(#{nomeReduzido}, #{pessoa.idPessoa})
	</insert>

	<insert id="inserCompradorAlcada">
		INSERT INTO CPR_COMPRADOR_ALCADA 
			(ID_COMPRADOR, ID_EMPRESA, ALCADA)
		VALUES
			(#{idCompradorAlcada}, #{idEmpresa}, #{alcada})
	</insert>
	
	<update id="updateEmpresa">
		UPDATE emp_empresa
		   SET NOME_REDUZIDO = #{nomeReduzido}, 
		   ID_PESSOA = #{pessoa.idPessoa}
		WHERE ID_EMPRESA = #{idEmpresa}
	</update>
	
	<delete id="deleteCompradorAlcada">
		DELETE FROM CPR_COMPRADOR_ALCADA WHERE ID_COMPRADOR = #{id}
	</delete>
	
</mapper>
