<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.FornecedorMapper">

	<resultMap id="fornecedorMap" type="com.plataforma.myp7.data.Fornecedor">
		<id property="idFornecedor" 			column="ID_FORNECEDOR" />
		<result property="statusFornecedor"  	column="STATUS" />
		<result property="utilTabCustoFornc" 	column="UTILIZA_TABCUSTO" />
	</resultMap>
	
	
	<resultMap id="fornecedorComPessoaMap" type="com.plataforma.myp7.data.Fornecedor">
		<id property="idFornecedor" 			column="idFornecedor" />
		<result property="statusFornecedor"  	column="STATUS" />
		<result property="utilTabCustoFornc" 	column="UTILIZA_TABCUSTO" />
		<result property="razao" 				column="RAZAO" />
		<result property="nroCpfCnpj" 			column="NRO_CPF_CNPJ" />
		<result property="digCpfCnpj" 			column="DIG_CPF_CNPJ" />
	</resultMap>
	
	
	
	<sql id="selectFornecedor">
		<![CDATA[
			SELECT ID_FORNECEDOR, 
					  STATUS, 
					  UTILIZA_TABCUSTO 
			FROM frn_fornecedor
		  ]]>
	</sql>
	
	<sql id="selectFornecedorComPessoaUsuario">
		<![CDATA[
			SELECT  frn_fornecedor.ID_FORNECEDOR as idFornecedor, 
					frn_fornecedor.STATUS as status, 
			        frn_fornecedor.UTILIZA_TABCUSTO as UTILIZA_TABCUSTO,	
					RAZAO, 
			        NRO_CPF_CNPJ, 
			        DIG_CPF_CNPJ 
			        FROM frn_fornecedor
			JOIN GBL_PESSOA ON GBL_PESSOA.ID_PESSOA = frn_fornecedor.ID_FORNECEDOR
		  ]]>
	</sql>
	
	<sql id="joinRepresentanteComprador">
		<![CDATA[
			join rpr_representante_comprador on rpr_representante_comprador.ID_REPRESENTANTE = rpr_representante.ID_REPRESENTANTE
	        join cpr_comprador on cpr_comprador.ID_COMPRADOR = rpr_representante_comprador.ID_COMPRADOR
	     ]]>
	</sql>
	
	<sql id="joinUsuarioRepresentante">
		<![CDATA[
			join rpr_representante_fornecedor on rpr_representante_fornecedor.ID_FORNECEDOR=frn_fornecedor.ID_FORNECEDOR
			join rpr_representante on rpr_representante_fornecedor.ID_REPRESENTANTE = rpr_representante.ID_REPRESENTANTE
		]]>
	</sql>
	
	<sql id="whereBuscaFornecedor">
		WHERE 1=1
		<if test="idFornecedor != null">
			AND frn_fornecedor.ID_FORNECEDOR = #{idFornecedor} 
		</if>
		<if test="nroCpfCnpj != null" >
			AND GBL_PESSOA.NRO_CPF_CNPJ = #{nroCpfCnpj} AND GBL_PESSOA.DIG_CPF_CNPJ = #{digCpfCnpj}
		</if>
		<if test="razao != null">
			AND GBL_PESSOA.RAZAO like #{razao}
		</if>
		<if test="usuario != null and (usuario.tipoUsuario != null and usuario.tipoUsuario == usuario.retaguarda)">
 			AND cpr_comprador.ID_USUARIO = #{usuario.idUsuario} 
 		</if>
 		<if test="statusTela != null">
 			AND frn_fornecedor.STATUS='A'
 		</if>
	</sql>
	
	<select id="obterFornecedorPorParametro" resultMap="fornecedorComPessoaMap">
		<include refid="selectFornecedorComPessoaUsuario"/>
		<if test="usuario.tipoUsuario == usuario.portal">
			<include refid="joinUsuarioRepresentante" />
		</if>
		<if test="usuario != null and (usuario.tipoUsuario != null and usuario.tipoUsuario == usuario.retaguarda)">
			<include refid="joinUsuarioRepresentante" />
			<include refid="joinRepresentanteComprador" />
		</if>
		<include refid="whereBuscaFornecedor"/>
	</select>
	
	<select id="countFornecedorPorParametro" resultType="int">
		SELECT count(1) as Qtd FROM frn_fornecedor
			JOIN GBL_PESSOA ON GBL_PESSOA.ID_PESSOA = frn_fornecedor.ID_FORNECEDOR
		<include refid="whereBuscaFornecedor"/>
	</select>
	
	<select id="obterFornecedorPorId" resultMap="fornecedorMap">
		<include refid="selectFornecedorComPessoaUsuario"/>
		WHERE frn_fornecedor.ID_FORNECEDOR = #{idFornecedor}
	</select>
	
	<select id="obterPorId" resultMap="fornecedorComPessoaMap">
		<include refid="selectFornecedorComPessoaUsuario"/>
		WHERE ID_FORNECEDOR = #{idFornecedor} AND STATUS = 'A'
	</select>
	
	
	<select id="obterTodos" resultMap="fornecedorMap">
		<include refid="selectFornecedor"/>
	</select>
	
	<insert id="inserirFornecedor">
		INSERT INTO frn_fornecedor
			(ID_FORNECEDOR, STATUS, UTILIZA_TABCUSTO) 
		VALUES 
			(#{idFornecedor},#{statusFornecedor}, #{utilTabCustoFornc})
	</insert>
	
	<update id="updateFornecedor">
		UPDATE frn_fornecedor
		   SET STATUS = #{statusFornecedor}, 
		   UTILIZA_TABCUSTO = #{utilTabCustoFornc}
		WHERE ID_FORNECEDOR = #{idFornecedor}
	</update>
	
</mapper>
