<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.FornecedorCustoMapper">

	<resultMap id="fornecedorCustoMap" type="com.plataforma.myp7.data.FornecedorCusto">
		<id property="idTabCustoFornecedor" 	column="ID_TAB_CUSTO_FORNECEDOR" />
		<result property="idEmpresa"  			column="ID_EMPRESA" />
		<result property="valorAnterior"  		column="VALOR_ANTERIOR" />
		<result property="valor"  				column="VALOR" />
		<result property="idRepresentante"  	column="ID_REPRESENTANTE" />
		
		<result property="situacao"  			column="SITUACAO" />
		<result property="dataAprovacao"  		column="DATA_APROVACAO" />
		<association property="usuAprovacao"	column="USU_APROVACAO" select="com.plataforma.myp7.mapper.UsuarioMapper.obterPorId"/>
		
		<association property="fornecedor" 		column="ID_FORNECEDOR" select="com.plataforma.myp7.mapper.FornecedorMapper.obterFornecedorPorId"/>
		<association property="produto" 		column="ID_PRODUTO" select="com.plataforma.myp7.mapper.ProdutoMapper.obterProdutoPorId"/>
	</resultMap>
	
	<sql id="selectFornecedorCusto">
		<![CDATA[
			SELECT ID_TAB_CUSTO_FORNECEDOR, ID_FORNECEDOR, ID_EMPRESA, 
			ID_PRODUTO, VALOR_ANTERIOR, VALOR, ID_REPRESENTANTE, SITUACAO,
			DATA_APROVACAO, USU_APROVACAO 
			FROM tab_custo_fornecedor
		  ]]>
	</sql>
	
	<select id="obterTodos" resultMap="fornecedorCustoMap">
		<include refid="selectFornecedorCusto"/>
	</select>
	
	<sql id="whereComSituacao">
		<if test="situacao != null"> 	AND FORNEC.SITUACAO = #{situacao}</if>
		
		<if test="produto != null">
			<if test="produto.idProduto != null">	AND USU.ID_PRODUTO = #{produto.idProduto}</if>
			<if test="produto.eanDunProduto != null">	AND USU.EANDUN = #{produto.eanDunProduto}</if>
			<if test="produto.desProduto != null">	AND upper(USU.DESCRICAO) like upper(#{produto.desProduto})</if>
		</if>
	</sql>	
	
	<select id="obterComFiltro" resultMap="fornecedorCustoMap">
		SELECT tab_custo_fornecedor.ID_TAB_CUSTO_FORNECEDOR, tab_custo_fornecedor.ID_FORNECEDOR, 
			   tab_custo_fornecedor.ID_EMPRESA, tab_custo_fornecedor.ID_PRODUTO, VALOR_ANTERIOR, 
			   tab_custo_fornecedor.VALOR, tab_custo_fornecedor.ID_REPRESENTANTE, tab_custo_fornecedor.SITUACAO, 
			   tab_custo_fornecedor.DATA_APROVACAO, tab_custo_fornecedor.USU_APROVACAO  
		  FROM tab_custo_fornecedor, prd_usuario_produto
		 WHERE tab_custo_fornecedor.ID_PRODUTO = prd_usuario_produto.ID_PRODUTO
		
		<choose>
    		<when test="produto.idProduto != null">
    			AND tab_custo_fornecedor.ID_PRODUTO = #{produto.idProduto}
   			</when>
    		<when test="produto.eanDunProduto != null">
    			AND EANDUN = #{produto.eanDunProduto}
   			</when>
  		</choose>
  		
		<if test="idRepresentante > -1">
			AND ID_REPRESENTANTE = #{idRepresentante}
		</if>
		
		<if test="idEmpresa > -1">
			AND ID_EMPRESA = #{idEmpresa}
		</if>
		
		<if test="produto.desProduto != null">
			AND prd_usuario_produto.DESCRICAO LIKE #{produto.desProduto}
		</if>
	</select>
	
	<select id="obterCustoAprovacaoPorFornecedor">
		<include refid="selectFornecedorCusto"></include>
		WHERE ID_FORNECEDOR =#{fornecedor.idFornecedor}
	</select>
	
	
	<select id="obterRepresentanteCustoAprovacao" resultMap="fornecedorCustoMap">
		<include refid="selectFornecedorCusto"></include>
		WHERE ID_REPRESENTANTE = #{idRepresentante}
	</select>
	
	
	
	<select id="obterFornecedorCustoAprovacao" resultMap="fornecedorCustoMap">
		SELECT ID_TAB_CUSTO_FORNECEDOR, ID_FORNECEDOR, ID_EMPRESA, 
			   FORNEC.ID_PRODUTO, VALOR_ANTERIOR, VALOR, ID_REPRESENTANTE, 
			   FORNEC.SITUACAO, FORNEC.DATA_APROVACAO, FORNEC.USU_APROVACAO  
		  FROM tab_custo_fornecedor FORNEC, prd_usuario_produto USU
		 WHERE FORNEC.ID_PRODUTO = USU.ID_PRODUTO
		   AND ID_FORNECEDOR = #{fornecedor.idFornecedor}
		<include refid="whereComSituacao"/>
	</select>	
	
	<select id="countFornecedorCustoAprovacao" resultType="int">
		SELECT COUNT(1)
		  FROM tab_custo_fornecedor FORNEC, prd_usuario_produto USU
		 WHERE FORNEC.ID_PRODUTO = USU.ID_PRODUTO
		   AND ID_FORNECEDOR = #{fornecedor.idFornecedor}
		<include refid="whereComSituacao"/>	
	</select>
	
	<select id="qtdPorSituacao" resultMap="fornecedorCustoMap">
		SELECT SITUACAO, COUNT(1) as qtdPorSituacao
		  FROM TAB_CUSTO_FORNECEDOR
		 WHERE ID_FORNECEDOR = #{fornecedor.idFornecedor}
		GROUP BY SITUACAO
	</select>	
	
	<update id="updateStatusFornecedorCusto">
		UPDATE TAB_CUSTO_FORNECEDOR
		SET SITUACAO = #{situacao}
		
		<if test="idUsuAprovacao != null">
			,USU_APROVACAO = #{idUsuAprovacao}
			,DATA_APROVACAO = #{dataAprovacao}
		</if>
		
		WHERE ID_TAB_CUSTO_FORNECEDOR = #{idFornecedorCusto}
	</update>	
	
	<update id="atualizarFornecedorCusto">
		UPDATE tab_custo_fornecedor SET VALOR = #{valor}, VALOR_ANTERIOR = #{valorAnterior} WHERE ID_TAB_CUSTO_FORNECEDOR = #{idTabCustoFornecedor}
	</update>
</mapper>


