<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.FornecedorMapper">

	<resultMap id="fornecedorMap" type="com.plataforma.myp7.data.Fornecedor">
		<id property="idFornecedor" 			column="ID_FORNECEDOR" />
		<result property="statusFornecedor"  	column="STATUS" />
		<result property="utilTabCustoFornc" 	column="UTILIZA_TABCUSTO" />
	</resultMap>
	
	
	<resultMap id="fornecedorComPessoaMap" type="com.plataforma.myp7.data.Fornecedor">
		<id property="idFornecedor" 			column="ID_FORNECEDOR" />
		<result property="statusFornecedor"  	column="STATUS" />
		<result property="utilTabCustoFornc" 	column="UTILIZA_TABCUSTO" />
		<result property="razao" 				column="RAZAO" />
		<result property="nroCpfCnpj" 			column="NRO_CPF_CNPJ" />
		<result property="digCpfCnpj" 			column="DIG_CPF_CNPJ" />
	</resultMap>
	
	<sql id="selectFornecedor">
		<![CDATA[
			SELECT ID_FORNECEDOR, 
					  STATUS, 
					  UTILIZA_TABCUSTO 
			FROM frn_fornecedor
		  ]]>
	</sql>
	
	<sql id="selectFornecedorComPessoa">
		<![CDATA[
			SELECT ID_FORNECEDOR as idFornecedor, 
					STATUS, 
					UTILIZA_TABCUSTO,
					RAZAO,
					NRO_CPF_CNPJ,
					DIG_CPF_CNPJ
			FROM frn_fornecedor
				JOIN GBL_PESSOA ON GBL_PESSOA.ID_PESSOA = frn_fornecedor.ID_FORNECEDOR
		  ]]>
	</sql>
	
	<sql id="whereBuscaFornecedor">
		WHERE 1=1
		<if test="idFornecedor != null">
			AND ID_FORNECEDOR = #{idFornecedor} 
		</if>
		<if test="nroCpfCnpj != null" >
			AND GBL_PESSOA.NRO_CPF_CNPJ = #{nroCpfCnpj} AND GBL_PESSOA.DIG_CPF_CNPJ = #{digCpfCnpj}
		</if>
		<if test="razao != null">
			AND RAZAO like #{razao}
		</if>
	</sql>
	
	<select id="obterFornecedorPorParametro" resultMap="fornecedorComPessoaMap">
		<include refid="selectFornecedorComPessoa"/>
		
		<include refid="whereBuscaFornecedor"/>
	</select>
	
	<select id="countFornecedorPorParametro" resultType="int">
		SELECT count(1) as Qtd FROM myp7db.frn_fornecedor
			JOIN myp7db.GBL_PESSOA ON GBL_PESSOA.ID_PESSOA = frn_fornecedor.ID_FORNECEDOR
		<include refid="whereBuscaFornecedor"/>
	</select>
	
	<select id="obterFornecedorPorId" resultMap="fornecedorMap">
		<include refid="selectFornecedorComPessoa"/>
		WHERE ID_FORNECEDOR = #{idFornecedor}
	</select>
	
	<select id="obterTodos" resultMap="fornecedorMap">
		<include refid="selectFornecedor"/>
	</select>
	
	<insert id="inserirFornecedor">
		INSERT INTO frn_fornecedor
			(ID_FORNECEDOR, STATUS, UTILIZA_TABCUSTO) 
		VALUES 
			(#{idFornecedor},#{statusFornecedor}, #{utilTabCustoFornc})
	</insert>
	
	<update id="updateFornecedor">
		UPDATE frn_fornecedor
		   SET STATUS = #{statusFornecedor}, 
		   UTILIZA_TABCUSTO = #{utilTabCustoFornc}
		WHERE ID_FORNECEDOR = #{idFornecedor}
	</update>
	
</mapper>
