<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.FornecedorCustoMapper">

	<resultMap id="fornecedorCustoMap" type="com.plataforma.myp7.data.FornecedorCusto">
		<id property="idTabCustoFornecedor" column="ID_TAB_CUSTO_FORNECEDOR" />
		<result property="idEmpresa"  		column="ID_EMPRESA" />
		<result property="valor"  			column="VALOR" />
		<result property="idRepresentante"  column="ID_REPRESENTANTE" />
		<association property="fornecedor" 	column="ID_FORNECEDOR" select="com.plataforma.myp7.mapper.FornecedorMapper.obterFornecedorPorId"/>
		<association property="produto" 	column="ID_PRODUTO" select="com.plataforma.myp7.mapper.ProdutoMapper.obterProdutoPorId"/>
	</resultMap>
	
	<sql id="selectFornecedorCusto">
		<![CDATA[
			SELECT ID_TAB_CUSTO_FORNECEDOR, ID_FORNECEDOR, ID_EMPRESA, 
			ID_PRODUTO, VALOR, ID_REPRESENTANTE 
			FROM tab_custo_fornecedor
		  ]]>
	</sql>
	
	<select id="obterTodos" resultMap="fornecedorCustoMap">
		<include refid="selectFornecedorCusto"/>
	</select>
	
</mapper>


