<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.ParametroMapper">

	<resultMap id="parametroMap" type="com.plataforma.myp7.data.Parametro">
		<id property="id" 				column="ID_PARAMETRO"/>
		<result property="nome" 		column="NOME"/>
		<result property="auxiliar" 	column="VALOR"/>
		<association property="tipo" 	column="TIPO" select="com.plataforma.myp7.mapper.ParametroTipoMapper.obterPorId" />
		<association property="dominio" column="DOMINIO" select="com.plataforma.myp7.mapper.ParametroDominioMapper.obterPorId"/>
	</resultMap>

	<sql id="selectParametro">
		<![CDATA[
			SELECT ID_PARAMETRO, NOME, VALOR, TIPO, DOMINIO
			FROM PRM_PARAMETRO
		  ]]>
	</sql>
	
	<select id="obterParametro" resultMap="parametroMap">
		<include refid="selectParametro"/>
		WHERE DOMINIO = #{id}
	</select>

	<select id="obterParametroPorNome" resultMap="parametroMap">
		<include refid="selectParametro"/>
		WHERE NOME = #{nome}
	</select>

</mapper>
