<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.RepresentanteMapper">

	<resultMap id="representanteMap" type="com.plataforma.myp7.data.Representante">
		<id property="idRepresentante" 		column="ID_REPRESENTANTE"/>
		<result property="status"  			column="rpr_Representante.STATUS" />
		<result property="apelido" 			column="rpr_Representante.APELIDO" />
		<association property="usuario" 	column="ID_USUARIO" select="com.plataforma.myp7.mapper.UsuarioMapper.obterPorId"/>
	</resultMap>
	
	<resultMap id="representanteMaisRazaoMap" type="com.plataforma.myp7.data.Representante">
		<id property="idRepresentante" 		column="ID_REPRESENTANTE"/>
		<result property="status"  			column="rpr_Representante.STATUS" />
		<result property="apelido" 			column="rpr_Representante.APELIDO" />
		<result property="razao" 			column="GBL_PESSOA.RAZAO" />
		<association property="usuario" 	column="ID_USUARIO" select="com.plataforma.myp7.mapper.UsuarioMapper.obterPorId"/>
	</resultMap>	
	
	
	
	<resultMap id="mapSimples" type="com.plataforma.myp7.data.Representante">
		<id property="idRepresentante" 		column="ID_REPRESENTANTE"/>
		<result property="status"  			column="rpr_representante.STATUS" />
		<result property="apelido" 			column="rpr_representante.APELIDO" />
	</resultMap>

	<sql id="selectRepresentante">
		<![CDATA[
			SELECT ID_REPRESENTANTE, 
				   rpr_representante.STATUS, 
				   rpr_representante.APELIDO, 
				   ID_USUARIO
			FROM rpr_representante
		  ]]>
	</sql>
	
	<sql id="selectRepresentanteMaisRazao">
		<![CDATA[
			SELECT ID_REPRESENTANTE,
				   rpr_representante.STATUS, 
				   rpr_representante.APELIDO,
				   GBL_PESSOA.RAZAO,
				   ID_USUARIO
			FROM rpr_representante 
			JOIN GBL_PESSOA ON GBL_PESSOA.ID_PESSOA = rpr_representante.ID_REPRESENTANTE
		  ]]>
	</sql>	
	
	<sql id="whereRepresentante">
		<if test="idRepresentante != null">
			AND rpr_representante.ID_REPRESENTANTE = #{idRepresentante}
		</if>
		<if test="apelido != null">
			AND UPPER(rpr_representante.APELIDO) like UPPER(#{apelido})
		</if>
		
	</sql>
	
	<sql id="whereRepresentanteMaisRazao">
		<include refid="whereRepresentante" />
		
		<if test="razao != null">
			AND UPPER(GBL_PESSOA.RAZAO) like UPPER(#{razao})
		</if>
	</sql>	
	
	<select id="obterPorParametro" resultMap="representanteMaisRazaoMap">
		<include refid="selectRepresentanteMaisRazao" />
		WHERE 1=1
		<include refid="whereRepresentanteMaisRazao" />
	</select>
	
	<select id="obterPorParametroMaisRazao" resultMap="representanteMaisRazaoMap">
		<include refid="selectRepresentanteMaisRazao" />
		WHERE 1=1
		<include refid="whereRepresentanteMaisRazao" />
	</select>	
	
	<select id="countPorParametro" resultType="int">
		SELECT COUNT(1) FROM rpr_Representante
		WHERE 1=1
		<include refid="whereRepresentante" />
	</select>
	
	<select id="countPorParametroMaisRazao" resultType="int">
		SELECT COUNT(1) FROM rpr_Representante REP
		INNER JOIN gbl_pessoa PESS on (REP.ID_REPRESENTANTE = PESS.ID_PESSOA)
		WHERE 1=1
		<include refid="whereRepresentanteMaisRazao" />
	</select>
			
	<select id="obterTodosRepresentantes" resultMap="representanteMap">
		<include refid="selectRepresentante"/>
		ORDER BY rpr_Representante.ID_REPRESENTANTE
	</select>
	
	<select id="obterPorId" resultMap="representanteMaisRazaoMap">
		<include refid="selectRepresentanteMaisRazao"/>
		WHERE rpr_Representante.ID_REPRESENTANTE = #{idRepresentante}
	</select>
	
	<select id="obterPorIdUsuario" resultMap="representanteMap">
		<include refid="selectRepresentante"/>
		WHERE rpr_Representante.ID_USUARIO = #{id} 
	</select>
	
	<insert id="insertRepresentante">
		INSERT INTO rpr_Representante
			(ID_REPRESENTANTE, STATUS, APELIDO, ID_USUARIO) 
		VALUES 
			(#{idRepresentante}, #{status}, #{apelido}, #{usuario.idUsuario})
	</insert>	
	
	<update id="updateRepresentante">
		UPDATE rpr_Representante
		   SET ID_USUARIO = #{usuario.idUsuario}, 
		   STATUS = #{status}, 
		   APELIDO = #{apelido}
		WHERE ID_REPRESENTANTE = #{idRepresentante}
	</update>
		
	<delete id="delete">
		DELETE FROM RPR_REPRESENTANTE WHERE ID_REPRESENTANTE = #{idRepresentante}
	</delete>
</mapper>
