<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.RepresentanteFornecedorMapper">
	
	<resultMap type="RepresentanteFornecedor" id="mapSimples">
		<result property="id" column="idFornecedor" /> 
		<association property="representante" column="idRepresentante" select="com.plataforma.myp7.mapper.RepresentanteMapper.obterPorId"/>
	</resultMap>
	
	<resultMap type="RepresentanteFornecedor" id="mapPorRepresentante">
		<result property="id" column="idRepresentante" /> 
		<association property="fornecedor" column="idFornecedor" 
					 select="com.plataforma.myp7.mapper.FornecedorMapper.obterPorId"/>
	</resultMap>
	
	<sql id="selectRepresentanteFornecedor">
		SELECT rpr_representante_fornecedor.ID_REPRESENTANTE as idRepresentante, rpr_representante_fornecedor.ID_FORNECEDOR as idFornecedor
			FROM rpr_representante_fornecedor 
	</sql>
	
	<sql id="joinStatusFornecedor">
		<![CDATA[
		join frn_fornecedor on frn_fornecedor.ID_FORNECEDOR = rpr_representante_fornecedor.ID_FORNECEDOR
		 ]]>
	</sql>

	<select id="obterPorFornecedor" resultMap="mapSimples">
		<include refid="selectRepresentanteFornecedor" />
		where ID_FORNECEDOR = #{id}
	</select>
	
	<select id="obterPorRepresentante" resultMap="mapPorRepresentante">
		<include refid="selectRepresentanteFornecedor" />
		<include refid="joinStatusFornecedor" />
		where rpr_representante_fornecedor.ID_REPRESENTANTE = #{id} AND frn_fornecedor.STATUS = 'A'
	</select>
	
	
	<insert id="insert">
		INSERT INTO rpr_representante_fornecedor
			(ID_REPRESENTANTE, ID_FORNECEDOR) 
		VALUES 
			(#{representante.idRepresentante}, #{id})
	</insert>
	
	<insert id="insertPorRepresentante">
		INSERT INTO rpr_representante_fornecedor
			(ID_REPRESENTANTE, ID_FORNECEDOR) 
		VALUES 
			(#{id}, #{fornecedor.idFornecedor})
	</insert>	
	
	<delete id="delete">
		DELETE FROM rpr_representante_fornecedor 
		 WHERE ID_FORNECEDOR = #{id} 
		   AND ID_REPRESENTANTE = #{representante.idRepresentante}
	</delete>
	
	<delete id="deleteIdRepresentante">
		DELETE FROM rpr_representante_fornecedor 
		 WHERE ID_FORNECEDOR = #{fornecedor.idFornecedor} 
		   AND ID_REPRESENTANTE = #{id}
	</delete>
	
	<delete id="deletePorFornecedor">
		DELETE FROM rpr_representante_fornecedor WHERE ID_FORNECEDOR = #{id} 
	</delete>
	
	<delete id="deletePorRepresentante">
		DELETE FROM rpr_representante_fornecedor WHERE ID_REPRESENTANTE = #{id} 
	</delete>
	
</mapper>
