<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.RepresentanteMapper">

	<resultMap id="representanteMap" type="com.plataforma.myp7.data.Representante">
		<id property="idRepresentante" 		column="ID_REPRESENTANTE"/>
		<result property="status"  			column="STATUS" />
		<result property="apelido" 			column="APELIDO" />
		<association property="usuario" 	column="ID_USUARIO" select="com.plataforma.myp7.mapper.UsuarioMapper.obterPorId"/>
	</resultMap>
	
	<resultMap id="mapSimples" type="com.plataforma.myp7.data.Representante">
		<id property="idRepresentante" 		column="ID_REPRESENTANTE"/>
		<result property="status"  			column="STATUS" />
		<result property="apelido" 			column="APELIDO" />
	</resultMap>

	<sql id="selectRepresentante">
		<![CDATA[
			SELECT ID_REPRESENTANTE, STATUS, APELIDO, ID_USUARIO
			FROM rpr_Representante
		  ]]>
	</sql>
	
	<sql id="selectRepresentanteEPessoa">
		<![CDATA[
			SELECT ID_REPRESENTANTE, STATUS, APELIDO, ID_USUARIO
			FROM rpr_Representante REP
			INNER JOIN gbl_pessoa PESS on (REP.ID_REPRESENTANTE = PESS.ID_PESSOA)
		  ]]>
	</sql>	
	
	<sql id="whereRepresentante">
		<if test="idRepresentante != null">
			AND ID_REPRESENTANTE = #{idRepresentante}
		</if>
		<if test="apelido != null">
			AND UPPER(APELIDO) like UPPER(#{apelido})
		</if>
	</sql>
	
	<sql id="whereRepresentanteEPessoa">
		<include refid="whereRepresentante" />
		
		<if test="razaoSocial != null">
			AND UPPER(PESS.RAZAO) like UPPER(#{razaoSocial})
		</if>
	</sql>	
	
	<select id="obterPorParametro" resultMap="mapSimples">
		<include refid="selectRepresentante" />
		WHERE 1=1
		<include refid="whereRepresentante" />
	</select>
	
	<select id="obterPorParametroEUsuario" resultMap="mapSimples">
		<include refid="selectRepresentanteEPessoa" />
		WHERE 1=1
		<include refid="whereRepresentanteEPessoa" />
	</select>	
	
	<select id="countPorParametro" resultType="int">
		SELECT COUNT(1) FROM rpr_Representante
		WHERE 1=1
		<include refid="whereRepresentante" />
	</select>
		
	<select id="obterTodosRepresentantes" resultMap="representanteMap">
		<include refid="selectRepresentante"/>
		ORDER BY ID_REPRESENTANTE
	</select>
	
	<select id="obterPorId" resultMap="representanteMap">
		<include refid="selectRepresentante"/>
		WHERE ID_REPRESENTANTE = #{idRepresentante}
	</select>
	
	<insert id="insertRepresentante">
		INSERT INTO rpr_Representante
			(ID_REPRESENTANTE, STATUS, APELIDO, ID_USUARIO) 
		VALUES 
			(#{idRepresentante}, #{status}, #{apelido}, #{usuario.idUsuario})
	</insert>	
	
	<update id="updateRepresentante">
		UPDATE rpr_Representante
		   SET ID_USUARIO = #{usuario.idUsuario}, 
		   STATUS = #{status}, 
		   APELIDO = #{apelido}
		WHERE ID_REPRESENTANTE = #{idRepresentante}
	</update>
		
	<delete id="delete">
		DELETE FROM RPR_REPRESENTANTE WHERE ID_REPRESENTANTE = #{idRepresentante}
	</delete>
</mapper>
