<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plataforma.myp7.mapper.UsuarioMapper">

	<resultMap id="usuarioMap" type="com.plataforma.myp7.data.Usuario">
		<id property="idUsuario" 		column="ID_USUARIO"/>
		<result property="razaoSocial"  column="RAZAO_SOCIAL" />
		<result property="email" 		column="USU_EMAIL" />
		<result property="nDocumento" 	column="USU_CNPJ" />
		<result property="ativo" 		column="USU_ATIVO"/>
		<result property="senha" 		column="USU_SENHA"/>
		<result property="tipoUsuario" 	column="TIPOUSUARIO"/>
		<result property="flagAprovProduto" 	column="FLG_APR_PRD"/>
		<result property="alcada" 		column="VALOR_ALCADA"/>
		<result property="idSuperior" 	column="USU_SUPERIOR"/>
	</resultMap>

	<sql id="selectUsuario">
		<![CDATA[
			SELECT USUARIO.ID_USUARIO, RAZAO_SOCIAL, USU_EMAIL, 
				   USU_CNPJ, USU_ATIVO, THEME, TIPOUSUARIO, FLG_APR_PRD, VALOR_ALCADA, USU_SUPERIOR
			FROM USU_USUARIO USUARIO
		  ]]>
	</sql>
	
	<select id="obterTodos" resultMap="usuarioMap">
		<include refid="selectUsuario"/>
	</select>

	<select id="obterPorId" resultMap="usuarioMap">
		<include refid="selectUsuario"/>
		WHERE ID_USUARIO = #{id}
	</select>
	
	<select id="obterPorSuperior" resultMap="usuarioMap">
		<include refid="selectUsuario"/>
		WHERE USU_SUPERIOR = #{idSuperior}
	</select>
	
	<select id="obterPorEmail" resultMap="usuarioMap">
		<include refid="selectUsuario"/>
		WHERE USU_EMAIL = #{email} and USU_ATIVO = 1;
	</select>	
	
	<select id="verificarSubordinados" resultMap="usuarioMap">
		<include refid="selectUsuario"/>
		WHERE USU_SUPERIOR = #{idUsuario} 
		AND (
		VALOR_ALCADA &gt; #{alcada}

		<if test="flagAprovProduto == 0">
			OR FLG_APR_PRD = 1
		</if>
		
		);
	</select>		
	
	<select id="obterUsuarioComFiltro" resultMap="usuarioMap">
		<include refid="selectUsuario"/>
		
		WHERE 1=1
		
		<if test="razaoSocial != null">
			AND RAZAO_SOCIAL LIKE #{razaoSocial}
		</if>
		
		<if test="email != null">
			AND USU_EMAIL LIKE #{email} 
		</if>		
		
		<if test="idsUsuarioRemoverLista != null">
			AND ID_USUARIO NOT IN
			<foreach item="item" index="index" collection="listIdsUsuarioRemoverLista" open="(" separator="," close=")">
		    	#{item}
		   </foreach>
		</if>			
		
		<choose>
    		<when test="aprovacaoProduto == true">
    			AND FLG_APR_PRD &gt;= 0 
   			</when>
    		<when test="aprovacaoProduto == false">
    			AND FLG_APR_PRD = 0
   			</when>
  		</choose>			
		
		<choose>
    		<when test="aprovacaoCusto == true">
    			AND VALOR_ALCADA &lt;= #{valorAlcada}
   			</when>
    		<when test="aprovacaoCusto == false">
    			AND VALOR_ALCADA = 0
   			</when>
  		</choose>
		<if test="idSuperior != null">
			AND USU_SUPERIOR = #{idSuperior}
		</if>	
		
		<if test="consultaSubordinado != null">
			<if test="consultaSubordinado == true">
				AND USU_SUPERIOR IS NULL
			</if>
		</if>
	</select>	
	
	<insert id="incluir" keyProperty="ID_USUARIO" keyColumn="ID_USUARIO" useGeneratedKeys="true">
     	INSERT INTO usu_usuario(  razao_social,
            					   usu_cnpj,
            					   USU_EMAIL,
            					   USU_ATIVO,
            					   usu_senha,
            					   TIPOUSUARIO
            					   )
    						VALUES (#{razaoSocial}, 
    								#{nDocumento},
    								#{email}, 
    								#{ativo}, 
    								#{senha},
    								#{tipoUsuario}
            						)
     </insert>
	
	<update id="updateTheme">
		UPDATE usu_usuario
		   SET THEME=#{theme}
		WHERE ID_USUARIO=#{idUsuario}
	</update>
	
	<update id="update">
		UPDATE usu_usuario SET razao_social=#{razaoSocial}, usu_cnpj=#{nDocumento}, USU_EMAIL=#{email},
							   USU_ATIVO = #{ativo}, usu_senha=#{senha}, TIPOUSUARIO=#{tipoUsuario}
		WHERE ID_USUARIO=#{idUsuario}
	</update>
	<update id="updateStatus">
		UPDATE usu_usuario SET  USU_ATIVO = #{ativo}
		WHERE ID_USUARIO=#{idUsuario}
	</update>
	<update id="updateHierarquia">
		UPDATE usu_usuario 
		SET ID_USUARIO=#{idUsuario}
		
		<if test="idSuperior != null">
			,USU_SUPERIOR = #{idSuperior}
		</if>
		
		<if test="aprProd != null">
			,FLG_APR_PRD = #{aprProd}
		</if>
		<choose>
    		<when test="aprCustoBoo == true">
    			,VALOR_ALCADA = #{valorAlcada}
   			</when>
    		<when test="aprCustoBoo == false">
    			,VALOR_ALCADA = 0
   			</when>
  		</choose>
		
		WHERE ID_USUARIO=#{idUsuario}
	</update>	
	
	<update id="updateHierarquiaGeral">
		UPDATE usu_usuario 
		SET USU_SUPERIOR = null
		
		<if test="aprProdBoo != null">
			,FLG_APR_PRD = 0
		</if>
		
		<if test="aprCustoBoo != null">
			,VALOR_ALCADA = 0
		</if>
		
		WHERE USU_SUPERIOR=#{idSuperior}
		
		<if test="idsUsuarioRemoverLista != null">
			AND ID_USUARIO NOT IN
			<foreach item="item" index="index" collection="listIdsUsuarioRemoverLista" open="(" separator="," close=")">
		    	#{item}
		   	</foreach>
	   	</if>
	</update>
	
</mapper>
